<div class="panel alert">
  <h1>You are not authorized to view this</h1>
  <p>
    I don't know what kind of hacker mumbo jumbo you used to ATTEMPT  \
    viewing this page, but to quote every movie/tv bouncer ever, \
    you are not on the list  
  </p>
</div>
