
<h1>Get ready to build your own tiki pole!</h1>

<div id="creation_area">
  <div id="3dspace">

    <x3d width='700px' height='550px'>
      <scene>
        <!-- <inline url="/assets/test_tiki_2.x3d"> </inline> -->

        <PointLight id='point' on='TRUE' intensity='0.9000' color='0.0 0.6 0.0' location='0 10 0.5 ' radius='5.0000' >  </PointLight>

      </scene>
    </x3d>

  </div>

  <div id="buttons">
    <button type="button" name="addTiki" id="addTiki">Add Tiki</button>

  </div>
</div>
