/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides


 */

 .content-splash {
   height: 100%;
   width: 100%;
   background-image: url('background.jpg');
   background-repeat: no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-top: 0px;
}


 .modal-box {
   display: none;
   position: absolute;
   z-index: 1000;
   width: 55%;
   background: white;
   border-bottom: 1px solid #aaa;
   border-radius: 10px;
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
   border: 5px solid rgba(0, 0, 0, 0.3);
   background-clip: padding-box;
   padding: 10px 10px 10px 10px;
 }

 .modal-box header,
 .modal-box .modal-header {
   padding: 1.25em 1.5em;
   border-bottom: 1px solid #ddd;
 }

 .modal-box header h3,
 .modal-box header h4,
 .modal-box .modal-header h3,
 .modal-box .modal-header h4 { margin: 0; }

 .modal-box .modal-body { padding: 2em 1.5em; }

 .modal-box footer,
 .modal-box .modal-footer {
   padding: 1em;
   border-top: 5px solid #ddd;
   background: rgba(0, 0, 0, 0.02);
   text-align: right;
 }

 .modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
}

.tiki_select img:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 100, 0.8);
}

#editStack {
  left: -20%;
}

.button {
  border-radius: 10px;
}

.menu li {
  background-color: green;
  box-shadow: 0 0 2px 5px green;
  border-radius: 20px;
}

.top-bar-right {
  right: 60px;
}
